@import 'base';

.lose, .win{
    @include flex-item(column, wrap, 2rem);
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 20%;
    margin: 5rem auto;
    width: 50%;
    padding: 2rem;
    border: 2px solid white;
    background-color: #0000005d;
    box-shadow: 5px 5px 0 white, 10px 10px 0 black, 15px 15px 0 white;


    @include animateUpDwon;
    h1{
        font-size: 30px;
        text-shadow: 5px 5px 10px black;
    }

    
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);
}

@media  screen and (max-width: 500px) {
    .lose, .win{
        left: 12%;
    }
}

