@use 'gameStart';
@use 'gameEnd';
@use 'gameScreen';

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&family=Roboto:wght@300&display=swap");
@import 'base';
@font-face { 
    font-family: 'MyFont'; 
    src: url('../assets/fonts/PokerFont.otf'); 
} 
body{
    min-height: 100vh;
    font-family: 'MyFont', "Poppins", sans-serif;
    background-image: url("../assets/imgs/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // backdrop-filter: blur(10px);
    color: $primary-color;
}
#root{
    min-height: 100vh;
}
.app{
    min-height: 100vh;
    // backdrop-filter: blur(10px);

    header{
        @include flex-item(row, wrap, 1rem);
        margin-top: 1rem;
        flex-direction: column;
        gap: 1px;
        
    }
    header h2, header span{
        // border-block: 3px ;
        text-transform: uppercase;
        font-size: 50px;
        text-align: center;
        text-shadow: 5px 7px 3px black, 8px 12px 10px white;
    }
    header span{
        font-size: 50px;
    }
}
